.bodyIndex {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: flex-start; 
    font-family: 'Yanone Kaffeesatz', sans-serif;
    background-color:darkgrey
}

.h1Titulo{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 30px;
    color: black
}


.iframeFollowers{
    display:flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.boxStreamer{
    width: 275px;
}